* {
  margin: 0;
  padding: 0;
}



.App {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: #00fff0;
}

header {
  height: 100%;
  width: 100%;
  background-color: #3b8ea5;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}


h1 {
  font-family: 'Murecho', sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
  margin-bottom: 0;
  color: #000;
}

h2 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
}

label {
  color: #000000;
  font-size: 1.5rem;
  font-family: 'Signika Negative', sans-serif;

}

input {
  width: 20rem;
  height: 2rem;
  border: 1px solid #000000;
  border-radius: 15px;
  margin-bottom: 20px;
}

input#hight {
  margin-bottom: 40px;
}

input#button {
  width: 15rem;
  height: 3rem;
  border: 1px solid #000000;
  background-color: #EC4067;
  border-radius: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: 1.2rem;

}

footer {
  color: #FFFFFF;
  background-color: #000000;
  height: 100%;
  width: 100%;
  padding: 5rem;
}


div#res {
  display: block;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-bottom: 6rem;
  background-color: #fff;

}