* {
  margin: 0;
  padding: 0;
}



.App {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: rgb(240, 240, 240);
}

header {
  height: 15vh;
  width: 100%;
  background-color: #5dd1ff;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

#Form {
  height: 75vh;
  position: fixed;
}


h1 {
  font-family: 'Murecho', sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
  margin-bottom: 0;
  color: #000;
  
}

h2 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
}

label {
  color: #000000;
  font-size: 1.5rem;
  font-family: 'Signika Negative', sans-serif;

}

input {
  width: 20rem;
  height: 2.2rem;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgb(201, 201, 201);
  transition:  0.1s;
}

input#weight:hover, input#high:hover {
  background-color: rgb(255, 255, 255)

}

input#high {
  margin-bottom: 40px;
}

input#button {
  width: 15rem;
  height: 3rem;
  border: 1px solid #000000;
  background-color: #EC4067;
  border-radius: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: 1.2rem;

}

input#button:hover {
  background-color: #d4355a;

}

footer {
  background-color: rgb(114, 114, 114);
  height: 10vh;
  
}


div#res {
  display: block;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-bottom: 6rem;
  background-color: #fff;
  display:flex;
  width: 322px;
  height: 80px;
  flex-wrap: wrap;

}

div#res p {
  font-size: 1.2rem;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 400;
  color: #000;
}

input#button {
  cursor: pointer;
}